.main {
	border: 2px double black;
	background: white;
	border-radius: 40px 40px 0px 0px;
}

.news {
	padding: 5px;
}

hr {
	border: 1px double black; 
}
a:link {
	color: black;
	text-decoration: underline;
}
a:hover {
	color: black;
	text-decoration: underline;
}
a:visited {
	color: black;
	text-decoration: underline;
}